* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: initial;
  user-select: initial;
}

body {
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  tab-size: 4;
  -webkit-user-select: none;
  color: #222;
}

body.platform-linux {
  color: rgb(48, 57, 66);
  font-family: Ubuntu, Arial, sans-serif;
}

body.platform-linux .monospace {
  font-size: 11px;
  font-family: dejavu sans mono, monospace;
}

body.platform-mac {
  color: rgb(48, 57, 66);
  font-family: 'Lucida Grande', sans-serif;
}

body.platform-mac .monospace {
  font-size: 11px;
  font-family: Menlo, monospace;
}

body.platform-windows {
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

body.platform-windows .monospace {
  font-size: 12px;
  font-family: Consolas, Lucida Console, monospace;
}

body.theme-dark {
  color: #bcbcbc;
}

#wrapper.showMessage #result {
  display: none;
}

#wrapper.showResult #message {
  display: none;
}

button {
  font-size: 13px;
  margin: 0;
  padding: 2px 20px;
  height: 24px;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 12px;
  -webkit-appearance: none;
  color: rgb(6, 6, 6);
  background-color: rgb(237, 237, 237);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 252, 252)), to(rgb(223, 223, 223)));
}

button:focus {
  outline: none;
}

button:active {
  background-color: rgb(252, 252, 252);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 252, 252)), to(rgb(237, 237, 237)));
}

p {
  padding: 0 4px 0 4px;
}

#selected {
  border-bottom: solid 1px rgb(191, 191, 191);
}

.theme-dark #selected {
  border-bottom: solid 1px #525252;
}

#selected button {
  display: inline-block;
}

#thirdPartyCookiesWarning {
  color: darkred;
  display: none;
}

#thirdPartyCookiesWarning.visible {
  display: block;
}

.sidebar-separator {
  background-color: rgb(230, 230, 230);
  padding: 3px 5px;
  color: rgb(50, 50, 50);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 16px;
}

.theme-dark .sidebar-separator {
  background-color: #333;
  color: #bcbcbc;
}

#message p {
  text-align: center;
  font-style: italic;
  font-size: 10px;
  padding: 6px;
  color: black;
}

.theme-dark #message p {
  color: #bcbcbc;
}

table {
  width: 100%;
  border-bottom: solid rgb(191, 191, 191) 1px;
  border-top: solid rgb(191, 191, 191) 1px;
  border-collapse: collapse;
}

.theme-dark table {
  border-bottom: solid #525252 1px;
  border-top: solid #525252 1px;
}

td, th {
  height: 15px;
}

th {
  width: 120px;
  padding-right: 3px;
  padding-left: 4px;
  color: #C80000;
  font-weight: normal;
  text-align: left;

  border-right: solid 1px rgb(191, 191, 191);
  border-bottom: solid 1px rgb(191, 191, 191);
}

.theme-dark th {
  background-color: #333;
  color: #bcbcbc;
  border-right: solid 1px #525252;
  border-bottom: solid 1px #525252;
}

td {
  padding-left: 4px;
}

.element1 {
  background-color: #F0F0F0;
}

.theme-dark .element1 {
  background-color: #333;
}

tr.lower td {
  border-bottom: solid rgb(191, 191, 191) 1px;
}

.theme-dark tr.lower td {
  border-bottom: solid #525252 1px;
}

th.parent-property {
  cursor: pointer;
}

th.parent-property::before {
  content: '\25B6 ';
  opacity: 0.55;
  padding-right: 3px;
  -webkit-user-select: none;
}

th.parent-property.open::before {
  content: '\25BC ';
}

.child-property {
  display: none;
}

.child-property th {
  padding-left: 20px;
}
